.fase {
    //background: cadetblue;
    &__info {
        //  background-color: chartreuse;
        border-bottom: 3px solid #ff0000;
        margin: 0 15%;
    }

    &__title {
        color: #ff0000;
        font-weight: bolder;
        font-size: 30px;
    }

    &__subtitle {
        color: #9943e2;
        font-weight: bolder;
        font-size: 30px;
    }

    &__description {
    }

    .interaction {

        &__opciones {
            margin: auto 20%;
            background-color: rgb(245, 245, 245);
            display: inline-flex;
            flex-wrap: wrap;

            &__opcion {
                padding: 9px;
                border-radius: 10px;
                background-color: #e0e0e0;
                max-width: 200px;
                margin: 10px;
                font-size: 10px;
            }
        }

        &__img {
            position: relative;
            width: 100%;
            height: 400px;

            &__respuesta {
                border-radius: 10px;
                background-color: #e0e0e0;
                min-width: 200px;
                min-height: 70px;

                &__2{

                    border-radius: 10px;
                    background-color: #e0e0e0;
                    min-width: 90px;
                    min-height: 25px;

                    & > * {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        
                        margin: 0;
                        //width: 100%;
                        height: 100%;
                        padding: 3.3px;
                    }


                }
            }

            & > * {
                position: absolute;
            }
        }
    }
}

.lista{
    margin: 6% 20%;
}
