@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,700;0,900;1,400&display=swap');

@import 'banner';
@import 'tarjet';
@import 'topics';
@import 'intro';
@import 'fase';
@import 'video';
@import 'modal';

$font: "Poppins";

*{
    margin: 0%;
}
body{
    font-family: $font;  

} 

.logo-Index{

    margin: auto 0;

}